html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;

}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.nav {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.list {
  list-style: none;
}

.main-navigation a {
  color: #ffffff;
}


.headline-score {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.telephone-header {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.catalog-list a {
  color: #000000;
}

.footer-top {
  background-color: #32425c;
}

.footer-mid {
  background-color: #293449;
}

.action-elements:hover {
  background-color: #212a3a;
}

.make-an-order:hover {
  background-color: #5fbb2d;
}

.action-elements {
  color: #ffffff;
}

.make-an-order {
  color: #ffffff;
  background-color: #63a63e;
}

.main-navigation a:hover {
  background-color: #293449;
}

.make-an-order:hover {
  background-color: #5fbb2d;
}

.make-an-order:active {
  background-color: #518534;
}

.action-elements:hover {
  background-color: #212a3a;
  color: #ffffff;
}

.action-elements:active {
  background-color: #161d29;
  color: #8b8e94;
}

.enter a:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.register a:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.enter a:active {
  background-color: #ffffff;
  color: #c5c5c5;
}

.register a:active {
  background-color: #ffffff;
  color: #c5c5c5;
}

.main-header {
  background-color: #f3f7f9;
}

.product-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.headline {
  font-size: 30px;
  line-height: 30px;
}

.tabs {
  font-size: 36px;
  line-height: 36px;
}

.services {
  background-color: #f5f8fa;
}


.content {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-nav a {
  color: #ffffff;
}

.footer-nav-offers a {
  color: #ffd180;
}

.telephone-footer {
  color: #ffffff;
}

.mail, .href {
  color: #ffd180;
}


