html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Cuprum", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;

}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.nav {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation a {
  color: #ffffff;
}


.headline-score {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  color: #ee3643;
  margin: 0;
}

.bottom-header .container {
  display: flex;
}

.telephone-header {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.catalog-list a {
  color: #000000;
}

.footer-top {
  background-color: #32425c;
}

.footer-mid {
  background-color: #32425c;
}

.action-elements:hover {
  background-color: #212a3a;
}

.make-an-order:hover {
  background-color: #5fbb2d;
}

.action-elements {
  color: #ffffff;
}

.make-an-order {
  color: #ffffff;
  background-color: #63a63e;
}

.main-navigation a:hover {
  background-color: #293449;
}

.make-an-order:hover {
  background-color: #5fbb2d;
}

.make-an-order:active {
  background-color: #518534;
}

.action-elements:hover {
  background-color: #212a3a;
  color: #ffffff;
}

.action-elements:active {
  background-color: #161d29;
  color: #8b8e94;
}

.enter a:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.register a:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.enter a:active {
  background-color: #ffffff;
  color: #c5c5c5;
}

.register a:active {
  background-color: #ffffff;
  color: #c5c5c5;
}

.main-header {
  background-color: #f3f7f9;
}

.product-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.headline {
  font-size: 30px;
  line-height: 30px;
}

.tabs {
  font-size: 36px;
  line-height: 36px;
}

.services {
  background-color: #f5f8fa;
}


.content {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-nav a {
  color: #ffffff;
}

.footer-nav-offers a {
  color: #ffd180;
}

.telephone-footer {
  color: #ffffff;
}

.mail, .href {
  color: #ffd180;
}

.top-header {
  background-color: #32425c;
  min-height: 42px;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.top-header .container {
  display: flex;
}

.main-header {
  background-color: #f3f7f9;
}


.main-navigation {
  width: 940px;
  background-color: #32425c;
  margin-bottom: 60px;
}

.action-elements {
  width: 150px;
  text-align: center;
  padding-top: 14px;
}

.make-an-order {
  width: 150px;
  text-align: center;
  padding-top: 14px;
}


.header-contact {
  display: flex;
  margin-left: 31px;
}


.address {

  font-size: 14px;
  line-height: 24px;
}

.


.user-navigation {
  display: flex;

}

.enter a {
  width: 121px;
  background-color: #ffffff;
  color: #000000;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 48px;
  padding-right: 27px;
  font-size: 21px;
  line-height: 21px;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation {
  display: flex;
  width: 100%;
  justify-content: center;

}

.main-navigation {
  margin: 0 auto;
}

.main-navigation .container {
  display: flex;
}

.site-navigation li {
  margin-top: 22px;
  margin-bottom: 26px;
  margin-left: 60px;
}

.site-navigation li:first-child {
  margin-left: 0px;
}


.telephone-header {
  display: block;
  width: 270px;
  border: 2px solid white;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 74px;
  padding-right: 52px;
}


.company {
  display: flex;
}

.about-company {
  width: 519px;

}

.pickup {
  width: 179px;
}

.transport-companies {
  margin-bottom: 37px;
}

.details {
  display: block;
  color: #ffffff;
  background-color: #ee3643;
  padding-right: 40px;
  padding-left: 41px;
  padding-top: 14px;
  padding-bottom: 12px;
  text-transform: uppercase;
  width: 220px;
  font-size: 14px;
  margin-bottom: 86px;
}

.footer-top .container {
  display: flex;
}

.footer-address {
  margin: 0;
}

.footer-nav, .list {
  display: flex;
}

.footer-nav li {
  margin-right: 60px;
}

.copyrights {
  margin: 0;
}

.footer-bottom {
  background-color: #293449;
}

.contacts-footer .container {
  display: flex;
}

.user {
  display: block;
}

.breadcrumbs-list .container {
  display: flex;
}

.company .container {
  display: flex;
}

.company-shopping, .headline {
  margin: 0;
}

.shopping, .content {
  margin: 0;
}

.connections {
  margin: 0;
}

.all-goods {
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 253px;
  margin-top: 25px;
  margin-bottom: 26px;
  margin-left: 663px;
  margin-right: 24px;

}

.goods {
  display: flex;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-email, .footer-contact {
  margin: 0;
}

.main-footer-logo {
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 41px;
  padding-right: 41px;
}

.footer-nav li:last-child {
  margin-right: 0;
}

.about-perforators {
  background-color: #f4f7f9;
}

.wrap .container {
  display: flex;
}

.footer-mid .container {
  display: flex;
}

.footer-bottom .container {
  display: flex;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 30px;
}

.footer-nav-offers li {
  margin-right: 60px;
}

.footer-nav-offers li:last-child {
  margin-right: 0;
}

.user-navigation {
  display: flex;
}

.top-header {
  margin-bottom: 46px;
}

.main-header {
  height: 320px;
}

.address {
  margin: 0;
  width: 300px;
}

.enter-register {
  margin-left: 69px;
}

.headline-score {
  margin-left: 54px;
}

.user-navigation {
  margin-bottom: 67px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("/824439-technomart/img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .catalog-item-image {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .catalog-item-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
}

.catalog-list .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.product-item {
  margin: 0;
}

.main-header {
  margin-bottom: 59px;
}

.sentence-list {
  display: flex;
  flex-wrap: wrap;
}

.our-offers {
  width: 300px;
  height: 123px;
}

.materials {
  background: #ffbf47;
}

.tool {
  background: #3bbce3;
}

.equipment {
  background: #dc91d8;
}

.discount {
  background: #8ed78f;
}

.home {
  background: #ffc047;
}


.wrap-list {
  margin-left: 20px;
  position: relative;
}

.wrap-list:first-child {
  margin-left: 0;
}

.wrap-list .inscription {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 135px;
  height: 38px;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

wrap-list-men {
  margin-left: 0;
}

.discount {
  margin: 0;
  margin-left: 20px;
}

.goods {
  background: #f9f5f0;
  min-height: 89px;
  margin-bottom: 21px;
  display: flex;
}

.sentence {
  margin-bottom: 53px;
}

.all-goods {
  display: block;
}

.catalog-list {

  margin-bottom: 21px;
}

.wrap-manufactures {
  height: 89px;
  background-color: #f9f5f0;
  display: flex;
  margin-bottom: 20px;
}

.manufacturers-headline {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  margin-left: 26px;
}

.all-manufacturers {
  display: block;
  margin-left: 273px;
  margin-top: 25px;
}

.popular-manufacturers {
  min-height: 415px;
}

.logo {
  display: inline-block;
  margin-left: 20px;
  border: 1px solid #000000;
  width: 220px;
  height: 145px;
}

.popular-list .logo:first-child {
  margin-left: 0;
}

.hitachi {
  margin-left: 0;
}

.popular-list .logo {
  margin-bottom: 20px;
}

.popular-list {
  margin-bottom: 85px;
}

.services {
  margin-bottom: 82px;
}

.pickup {
  margin: 0;
}

.got-lost {
  display: block;
}

.contacts {
  margin-left: 121px;
}

.footer-nav {
  margin-left: auto;
  margin-top: 42px;
}

.footer-nav-offers {
  margin-left: auto;
}

.contacts-footer {
  margin-bottom: 53px;
}

.main-footer-logo {
  margin-bottom: 32px;
}

.register a {
  width: 150px;
  background-color: #ffffff;
  color: #000000;
  display: block;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 21px;
  line-height: 21px;
  margin-left: 10px;

}
.name {
  display: block;
  width: 300px;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 47px;
  padding-right: 69px;
  background: white;
}
.user{
  display: flex;
  flex-wrap: wrap;
}
.user-list {
  display: flex;

}

.catalog-list-catalog{
  display: flex;
  flex-wrap: wrap;
}
.catalog-list-catalog .price{
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}
.product-item a{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}


